
@using WebApplication2.Models.ViewModels
@model NewsListMessage
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}
    <link href="~/Content/client.css" rel="stylesheet" />
<div class="row">
    <section class="col-md-9">
        @foreach (var item in Model.NewsList)
        {
        <article class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">@item.Title
                    <span class="label label-primary pull-right">
                        @if (item.Type == 0)
                        {
                            <text>国际</text>
                        }
                        else if (item.Type == 1)
                        {
                            <text>政治</text>
                        }
                        else if (item.Type == 2)
                        {
                            <text>军事</text>
                        }
                        else if (item.Type == 3)
                        {
                            <text>科技</text>
                        }
                        else if (item.Type == 4)
                        {
                            <text>娱乐</text>
                        }
                        else
                        {
                            <text>其他</text>
                        }
                    </span>
                </h3>
            </div>
            <div class="panel-body">
                <p>@item.Contents</p>
            </div>
            <div class="panel-footer text-right"><time>@item.CreateTime</time></div>
        </article>
        }
    </section>
    <aside class="col-md-3">
        <div class="list-group">
            <a href="" class="list-group-item">按时间</a>
            <a href="" class="list-group-item">按类别</a>
            <a href="" class="list-group-item">按关键字</a>
            <a href="" class="list-group-item">按来源</a>
            <a href="" class="list-group-item">按作者</a>
        </div>
    </aside>
</div>
<script>
	new Promise((resolve, reject) => {
		const xhr = new XMLHttpRequest();
		xhr.open('GET', 'http://106.52.192.123/news_data.php');
		xhr.onreadystatechange = function() {
			if(xhr.readyState == 4 && xhr.status == 200) {
				resolve(xhr.response);
			}
		}
		xhr.send(null);
	})
	.then(res => {
		console.log(JSON.parse(res));
	})
	.catch(reason => {
		console.log(reason);
	})
</script>