@keyframes rotating {
  to {
    transform: rotateZ(360deg);
  }
}
@keyframes re-rotating {
  to {
    transform: rotateZ(-360deg);
  }
}
:root {
  --themeColor: #4385ff;
}
* {
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  height: 100%;
}
body .all {
  position: relative;
  width: 100%;
  height: 100%;
  /*background-image: linear-gradient(to bottom, #467dcf, #c8d9eb);*/
  overflow: hidden;
}
body .all::before,
body .all::after {
  content: '';
  position: absolute;
  bottom: 0;
  transform: translateY(50%);
  transform-origin: center center;
}
body .all::before {
  background-color: rgba(183, 200, 254, 0.7);
  border-radius: 70% 30% 50% 40%;
  animation: rotating 100s linear infinite;
  width: 2400px;
  height: 2000px;
  left: 15%;
}
body .all::after {
  background-color: rgba(123, 145, 255, 0.5);
  border-radius: 50% 60% 40% 80%;
  animation: re-rotating 100s linear infinite;
  width: 2000px;
  height: 2400px;
  right: 15%;
}
body .all .login-content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 180px 50px 0;
  width: 480px;
  height: 400px;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  z-index: 1;
}
body .all .login-content .login-header {
  position: absolute;
  top: 0;
  transform: translateX(-16.8%);
  width: 120%;
  height: 40%;
  margin: 0 auto;
  background-color: var(--themeColor);
  border-radius: 0 0 40% 60%;
}
body .all .login-content .login-header::before,
body .all .login-content .login-header::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
}
body .all .login-content .login-header::before {
  background-color: rgba(183, 200, 254, 0.5);
  border-radius: 0 0 60% 40%;
}
body .all .login-content .login-header::after {
  background-color: rgba(123, 145, 255, 0.5);
  border-radius: 0 0 20% 80%;
}
body .all .login-content .login-header img {
  width: 178px;
  height: 178px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 1;
  object-fit: none;
  transform: scale(0.6);
}
body .all .login-content .login-header .switch-btn {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -15px;
  margin: 0 46px;
  display: flex;
  justify-content: center;
  z-index: 1;
}
body .all .login-content .login-header .switch-btn button {
  flex: 1;
  background-color: transparent;
  border: none;
  font-size: 20px;
  font-weight: bold;
  line-height: 30px;
  outline: none;
}
body .all .login-content .login-header .switch-btn .on {
  color: #337ab7;
  border-bottom: 3px solid currentColor;
}
body .all .login-content .login-body-0 .input-group-lg,
body .all .login-content .login-body-0 button {
  margin: 20px 0;
}
body .all .login-content .login-body-1 {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  height: 100%;
}
body .all .login-content .login-body-1 input {
  height: 40px;
}
body .all .login-content .login-body-1 button {
  margin: 15px 0;
}
