@keyframes rotating {
  to {
    transform: rotateZ(360deg);
  }
}
@keyframes re-rotating {
  to {
    transform: rotateZ(-360deg);
  }
}
:root {
  --themeColor: #337ab7;
}
* {
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  height: 100%;
}
body .all {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body .all::before,
body .all::after {
  content: '';
  position: absolute;
  bottom: -50%;
  transform: translateY(50%);
  transform-origin: center center;
  border-radius: 50%;
}
body .all::before {
  background-color: rgba(183, 200, 254, 0.7);
  animation: rotating 100s linear infinite;
  width: 2400px;
  height: 2000px;
  left: 15%;
}
body .all::after {
  background-color: rgba(123, 145, 255, 0.5);
  animation: re-rotating 100s linear infinite;
  width: 2000px;
  height: 2400px;
  right: 15%;
}
body .all .login-content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 180px 50px 0;
  width: 480px;
  height: 400px;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  z-index: 1;
}
body .all .login-content .login-header {
  position: absolute;
  top: 0;
  transform: translateX(-16.8%);
  width: 120%;
  height: 40%;
  margin: 0 auto;
  background-color: var(--themeColor);
  border-radius: 0 0 40% 60%;
}
body .all .login-content .login-header::before,
body .all .login-content .login-header::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
}
body .all .login-content .login-header::before {
  background-color: rgba(183, 200, 254, 0.5);
  border-radius: 0 0 60% 40%;
}
body .all .login-content .login-header::after {
  background-color: rgba(123, 145, 255, 0.5);
  border-radius: 0 0 20% 80%;
}
body .all .login-content .login-header img {
  width: 178px;
  height: 178px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 1;
  object-fit: none;
  transform: scale(0.6);
}
body .all .login-content .login-header .switch-btn {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -15px;
  margin: 0 46px;
  display: flex;
  justify-content: center;
  z-index: 1;
}
body .all .login-content .login-header .switch-btn button {
  flex: 1;
  background-color: transparent;
  border: none;
  font-size: 20px;
  font-weight: bold;
  line-height: 30px;
  outline: none;
}
body .all .login-content .login-header .switch-btn .on {
  color: var(--themeColor);
  border-bottom: 3px solid currentColor;
}
body .all .login-content .login-body-0 .form-group:first-of-type small {
  position: absolute;
  top: 243px;
}
body .all .login-content .login-body-0 .form-group:last-of-type small {
  position: absolute;
  top: 309px;
}
body .all .login-content .login-body-0 .input-group-lg,
body .all .login-content .login-body-0 button {
  margin: 20px 0;
}
body .all .login-content .login-body-1 {
  display: none;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  height: 100%;
}
body .all .login-content .login-body-1 .form-group input {
  height: 40px;
}
body .all .login-content .login-body-1 .form-group small {
  position: absolute;
  right: 20px;
  background-color: var(--themeColor);
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  padding: 2px 6px;
  white-space: nowrap;
  z-index: 0;
}
body .all .login-content .login-body-1 .form-group small::before {
  content: '';
  position: absolute;
  left: 1px;
  top: -8px;
  margin: auto;
  width: 0;
  height: 0;
  border-color: transparent var(--themeColor) transparent transparent;
  border-style: solid;
  border-width: 4px 16px 7px 0;
  transform: rotateZ(53deg);
  z-index: -1;
}
body .all .login-content .login-body-1 button {
  margin: 15px 0;
}
