@{
    ViewBag.Title = "Details";
}

<h2>@ViewBag.Message<small> - @ViewBag.Title</small></h2>
<pre>
    1.大致介绍一下你的前端项目经历
    2.如何使低版本的浏览器（如IE8等）支持新的语言特性（比如 数组的forEach方法）–提示：使用原型链的相关知识
    3.JS为什么是单线程？这样做有什么好处是多线程语言无法实现的？—（解释进程和线程的区别和联系）
    4.项目中有使用过react 和vue 那么请比较说明一下两者的优劣
    5.vue是如何实现数据的双向绑定的？（数据劫持和Object.defineProperty 中的set和get函数） react中的单向数据流动有什么好处？
    6.对框架源码的熟悉程度 react向一个位于很深节点的子组件传值，除了props还有没有别的方法？
    7.简单说明一下你对ES6中箭头函数的理解
    8.跨域问题：如何解决跨域问题？设置请求头应该如何设置？那么服务器返回的报文的响应头中有什么不一样的地方
    9.讲一下TCP三次握手的过程，输入一个url到页面呈现到浏览器上的全过程
    10.怎样以对象为构造函数创建一个对象
    11.使用过webpack吗？讲一下插件（plugin）和loader的区别
    ————————————————
    版权声明：本文为CSDN博主「不要看我」的原创文章，遵循 CC 4.0 BY-SA 版权协议，转载请附上原文出处链接及本声明。
    原文链接：https://blog.csdn.net/qq_39373532/article/details/90315223
</pre>

