@{
    ViewBag.Title = "Home Page";
    Layout = null;

}
@Styles.Render("~/Content/index-home.css")
@Styles.Render("~/Content/bootstrap.min.css")

<div class="container-fluid all">
    <div class="login-content">
        <div class="login-header">
            <img src="~/Content/img/logo.jpg" alt="Alternate Text" />
            <div class="switch-btn">
                <button class="on" type="button">登录</button>
                <button type="button">注册</button>
            </div>
        </div>
        <form class="login-body login-body-0">
            <div class="input-group input-group-lg">
                <input class="form-control" type="text" name="username"  placeholder="用户名" />
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            </div>
            <div class="input-group input-group-lg">
                <input class="form-control" type="password" name="password" placeholder="密码" />
                <span class="input-group-addon"><i class="glyphicon glyphicon-barcode"></i></span>
            </div>

            <button class="btn btn-primary btn-block btn-lg" type="submit">登录</button>
        </form>

        <form class="login-body login-body-1" style="display: none">
            <input class="form-control" type="text" name="username" placeholder="用户名" />
               
            <input class="form-control" type="password" name="password" placeholder="密码" />
            
            <input class="form-control" type="password" name="password" placeholder="确认密码" />

            <button class="btn btn-primary btn-block btn-lg" type="submit">注册</button>
        </form>
    </div>
</div>
<script>
    const aSwitchBtn = document.querySelectorAll('.switch-btn button');
    const loginBtn = document.querySelector('.switch-btn button:first-child');
    const regisBtn = document.querySelector('.switch-btn button:last-child');
    const loginForm = document.querySelector('.login-content form:first-of-type');
    const regisForm = document.querySelector('.login-content form:last-of-type');

    for (var i = 0; i < aSwitchBtn.length; i++) {
        aSwitchBtn[i].addEventListener('click', function () {
            for (var j = 0; j < aSwitchBtn.length; j++) {
                aSwitchBtn[j].classList.remove('on');
            }
            this.classList.add('on');
        })
    }

    loginBtn.addEventListener('click', _ => {
        loginForm.style.display = 'block';
        regisForm.style.display = 'none';
    })

    regisBtn.addEventListener('click', _ => {
        loginForm.style.display = 'none';
        regisForm.style.display = 'flex';
    })
    console.log(aSwitchBtn[0])
    console.log(regisForm)
</script>
@*
    <div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>
*@